*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}	
body{
background-image:url(background.png);	
background-size:auto;
display:initial;
}
.navbar {
	width: 100%;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
.navbar a {
  float: right;
  font-size: 40px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: right;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 40px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
}
.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}
#logoalign{
float: left;
position: relative;
padding-left: 20px;
}
.text1{
	padding-top: 10px;
color:white;
font-size: 40px;
width:100%;
height: 45%;
background-color:black;
opacity: 70%;
text-align: center;

}
.main{
	padding-top: 20px;


}
.footer{
	width: 100%;
position: absolute;
	height:auto;
color:white;
text-align:center;
overflow: hidden;
background-color: #333;
font-family: Arial;
margin-top: 100px;

}
.photo1{
padding-top: 50px;
text-align: center;

}
.centered{
	width: 88%;
font-size: 80px;
color: white;
background-color: black;
opacity: 80%;
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.gridgal {
	margin-top: 30px;
text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.col {
  flex: 50%;
  padding: 0 4px;
  border: 8px;
}

.colimg {
  margin-top: 8px;
  vertical-align: middle;

  hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 3px;
}
.container{
    position: absolute; 
    width: 100%;
    padding: 30px 0;
    text-align: center;
}
