 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-align: center;
}
 body{
background-image:url(background.png); 
background-size:auto;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #483434; 
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #6B4F4F;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #333;
color: white;
  padding: 20px;
} 
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
}
.navbar a {
  float: right;
  font-size: 40px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: right;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 40px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
}
.dropdown-content a:hover {
  background-color: #ddd;
}


.dropdown:hover .dropdown-content {
  display: block;
}
#logoalign{
float: left;
position: relative;
padding-left: 20px;
}
.info{

  
  padding-top: 50px;
  text-align: center;
font-size: 50px;
color: white;
}
hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 3px;
}
.footer{
  width: 100%;
position: absolute;
  height:auto;
color:white;
text-align:center;
overflow: hidden;
background-color: #333;
font-family: Arial;
margin-top: 100px;

}